<!-- <!doctype html>
<html lang="en" ng-app="ngReviewApp">
    <head>
        
        <meta charset="utf-8">
        <title>Books Appication</title>
        
    </head>
    <body>
 -->
       
            
        
        <input type="text" ng-model="bookName"/>
        <button ng-click="search(bookName)">Search</button>
        <br/><br/>
        <div class="sidebar design-selection" id="design-selection" ng-show="showing">
          <ul>
          <li ng-repeat="i in items">
            <strong style="font-color:black;">{{i.title[0]}}</strong><br/>
             <img ng-src='{{i.galleryURL[0]}}'/>
             {{i.sellingStatus[0].currentPrice[0]}}
          </li>
          </ul>
          </div>
              
        
       

