

<form method="post" autocomplete="off" ng-submit="vm.logout()" >

<input  id="logoutButton" style="float:right;background:red"class="btn btn-lg btn-danger" type="submit" value="Logout" ng-click="logout()" />
</form><br/>
<div><h2>Welcome <br/>{{vm.email}}</h2></div>

<form class="form" method="post" autocomplete="off" ng-submit="vm.getReviews()" >
	
	<!-- <div class="element-input" ><label class="title">Username:<span class="required">*</span></label><input class="large" type="text" name="email" ng-model="vm.email" required="required"/></div> -->
	<!-- <div class="form-group">
	<strong>
		</strong>
</div> -->
	<div><label class="title">List of Courses:<span class="required">*</span></label>
	<select ng-model="vm.courseID" class="form-control" id="course" required="required">
		<option value="{{course.courseID}}" ng-repeat="course in vm.courses">{{course.courseName}}</option>
	</select>

</div>
	     <section id="three-images">
            <div class="container">
                <header class="body-header">
                    <h3>Here is what you can do<br/><span style="color:red">{{vm.reviewStatus}}</span></h3>
                 </header>
                <article class="cf">
   
                    <div class="img-circle-div">
                        <img src="images/ou.jpg"/>
                        
                        <p>Add your reviews for the course</p><br/>
                        <input id="addReviewButton" class="btn btn-lg btn-success" type="submit" value="&nbsp;&nbsp;&nbsp;Add Reviews&nbsp;&nbsp;&nbsp;&nbsp;" ng-click="vm.formControl(1)" />
                    </div>

                                     <div class="img-circle-div">
                        <img src="images/milner.jpg"/>
                        
                        <p>Books Recommended for the course by the department</p>
                        <input id="booksButton" class="btn btn-lg btn-success" type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;Books&nbsp;&nbsp;&nbsp;&nbsp;" ng-click="vm.displayBooks()" />
                    </div>

                    <div class="img-circle-div">
                        <img src="images/reviews.jpg"/>
                        <p>View Reviews given by other students</p>
                        <input id="reviewsButton" class="btn btn-lg btn-success" type="submit" value="Display Reviews" ng-click="vm.displayReviews()"/>
                    </div>
                </article>
            </div>
        </section>
	<!-- <label style="float:left;background-color:#2da5da"><a href='#/books'>Books</a></label>&nbsp; -->
<!-- 	<input class="btn btn-lg btn-success" type="submit" value="Books" ng-click="vm.displayBooks()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input class="btn btn-lg btn-success" type="submit" value="Add Reviews" ng-click="vm.formControl(1)" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input class="btn btn-lg btn-success" type="submit" value="Display Reviews" ng-click="vm.displayReviews()"/> -->

<div class="commonBorder" ng-show="vm.showBooks">
<br/>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img ng-src="{{vm.imgurl}}">
      <div class="caption">
        <h3>{{vm.title}}</h3>
        <p>Price: {{vm.price|currency}}</p>
        
      </div>
    </div>
  </div>
</div>

</div>
<div class="commonBorder" ng-show="vm.showAddReviews"><br/><br/>
    <h2>Review for {{vm.courseID}}</h2>
	<form class="form" name="reviewform" novalidate>
		<div class="form-group"><label class="title">Review Title:<span class="required">*</span></label>&nbsp;<input class="form-control" type="text" name="reviewTitle" ng-model="vm.reviewTitle" /></div>
		<div class="form-group"><label class="title">Book Title:<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" type="text" name="bookTitle" ng-model="vm.bookTitle" /></div>
		<div class="form-group"><label class="title">Review Body:</label>&nbsp;&nbsp;<textarea class="form-control" ng-model="vm.reviewBody" name="reviewBody" cols="20" rows="5" ></textarea></div>
		<br/>
		<div class="submit"><input class="btn btn-lg btn-success" type="submit" value="Add Review" ng-click="vm.addReviews()"/>&nbsp;
		<input class="btn btn-lg btn-danger" type="submit" value="Remove" ng-click="vm.formControl(2)"/>
		<br/>
		<br/>
		</div>
</form>
</div>

<div ng-show="vm.showReviews"><br/>
<h3>{{vm.numberOfReviews}}</h3>
<div style="border-style: dotted" class="commonBorder" ng-repeat="r in vm.reviews">
		
		<a href="/221/" class="design-name"><strong>{{r.reviewTitle}}</strong></a> by <span class="designer-name">{{r.email}}</span>
		<p>{{r.reviewBody}}</p>
		<p><i>Book : {{r.bookTitle}}</i></p>
	

</div>
<br/>

</form>
  


