
<form class="form" method="post" autocomplete="off" ng-submit="vm.loginDirect()" >
<div style="border-style: solid;
    border-color: #FFFFFF;border-radius:10px">
<div><h2>Login</h2><br/>
<strong style="color:red">{{vm.msg}}</strong>
</div>
	
	<div><label class="title">Email Id<span class="required">*</span></label>
	&nbsp;&nbsp;&nbsp;<input type="email" name="input" ng-model="vm.email" required="required"/></div>
	<br/>
	<div><label class="title">Password<span class="required">*</span></label>
	<input type="password" name="input" ng-model="vm.password" required="required"/></div>
	
	

	

	<div>
	<input class="btn btn-lg btn-success" type="submit" value="&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;" /></div>

<br/><br/>
</div>
	


</form>
